<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">

<body style="background-color: rgb(241, 151, 115); padding-left: 1.5cm; padding-top: 1cm;padding-right: 18cm;">
   <div>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/main.css' %}">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-family: Arial;">Loan Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">calculate</button>
            </div>
        </form>
    </div>


</body>
</html>